<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact V16</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="/image/png" href="/images/icons/favicon.ico"/>

  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">

  <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">

  <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">

  <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">

  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">

  <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">

  <link rel="stylesheet" type="text/css" href="/css/util.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
  <button class="btn-show-contact100"  onclick="window.location.href='/api/home'">
      Go Home
  </button>
  <div class="container-contact100">
    <div class="wrap-contact100">

      <div class="contact100-form-title" style="background-image: url(/images/bg-02.jpg);">
        <span>Send Money</span>
      </div>

      <form class="contact100-form validate-form" method="POST" action="/api/transaction">
        <div class="wrap-input100 validate-input">
          <input id="wallet" class="input100" type="text" name="sender" placeholder="Sender Wallet Address">
          <span class="focus-input100"></span>
          <label class="label-input100" for="name">
            <span class="lnr lnr-user m-b-2"></span>
          </label>
        </div>
        <div class="wrap-input100 validate-input">
          <input id="wallet" class="input100" type="text" name="receiver" placeholder="Reciever Wallet Address">
          <span class="focus-input100"></span>
          <label class="label-input100" for="name">
            <span class="lnr lnr-user m-b-2"></span>
          </label>
        </div>
        <div class="wrap-input100 validate-input">
          <input id="wallet" class="input100" type="text" name="amount" placeholder="Amount">
          <span class="focus-input100"></span>
          <label class="label-input100" for="name">
            <span class="lnr lnr-user m-b-2"></span>
          </label>
        </div>
        <div class="container-contact100-form-btn">
          <button type="submit" class="contact100-form-btn">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>


  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="/vendor/animsition/js/animsition.min.js"></script>
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/select2/select2.min.js"></script>
  <script src="/vendor/daterangepicker/moment.min.js"></script>
  <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <script src="/vendor/countdowntime/countdowntime.js"></script>
  <script src="/js/main.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

</body>
</html>


